body{
    background-color: #666;
    color: black;
    font-size: 14px;
    font-family: Arial, 'Lucida Sans Unicode';
    line-height: 1.5;
}

.body{
    margin: 0 auto;
    width: 70%;
    clear: both;
}

a{
    text-decoration: none;
}

a:link,a:visited{
    color:#CF5C3F;
}

a:hover,a:active{
    background-color: #CF5C3F;
}

.mainHeader img{
    background-color: #666;
    width:50%;
    height:auto;
}

.mainHeader nav{
    background-color: #a4c639;
    /*height:40px;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;*/
}
/*
.mainHeader nav ul{
    /*list-style: none;
    margin: 0 auto;
}

.mainHeader nav ul li{
    float:left;
    display:inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
    color:#FFF;
    display: inline-block;
    padding: 10px 25px;
    height:22px;
    Come back here to assign height
}

.mainHeader nav a:hover, .mainHeader nav a:active
,.mainHeader nav .active a:link, .mainHeader nav .active a:visited{
    background-color: #666;
    text-shadow:none;
}

.mainHeader nav ul li a {
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}*/

.mainContent {
    line-height: 25px;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    word-wrap: break-word;
}

.content{
    width: 70%;
    float: left;
}

.topContent{
    background-color: #FFF;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:3% 5%;
    margin-top: 2%;
}

.bottomContent{
    background-color: #FFF;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:3% 5%;
    margin-top: 2%;
}

.topSidebar{
    box-sizing: border-box;
    width: 27%;
    float: left;
    background-color: #FFF;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 2% 0 2% 3%;
    padding: 2% 3%;
}

.middleSidebar{
    box-sizing: border-box;
    width: 27%;
    float: left;
    background-color: #FFF;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 2% 0 2% 3%;
    padding: 2% 3%;
}

.bottomSidebar{
    box-sizing: border-box;
    width: 27%;
    float: left;
    background-color: #FFF;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 2% 0 2% 3%;
    padding: 2% 3%;
}

.postInfo{
    color: #999;
    font-style: italic;
    font-size: 90%;
}

.mainFooter{
    width:100%;
    height: 40px;
    float:left;
    background-color: #a4c639;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 2% 0;
}

.mainFooter p{
    width: 92%;
    margin: 10px auto;
    color: #FFF;
}

@media only screen and (min-width: 150px) and (max-width: 600px){
    .body{
        width:90%;
        font-size:95%;
    }
    .mainHeader img{
        width:100%;
        margin:2% 0;
    }
    .mainHeader nav{
        height:167px;
        border-style: solid;
        border-color: #CF5C3F ;
        border-radius:5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .mainHeader nav ul{
        padding-left: 0;
    }

    .mainHeader nav ul li{
        width:100%;
        margin: 0 auto;
        text-align: center;
    }

    .mainHeader nav a:link, .mainHeader nav a:visited{

        display: block;
        padding: 10px 25px;
        height:22px;
        /*Come back here to assign height*/
    }

    .mainHeader nav a:hover, .mainHeader nav a:active
    ,.mainHeader nav .active a:link, .mainHeader nav .active a:visited{
        background-color: #666;
        text-shadow:none;
        border-radius:1px;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
    }

    .mainHeader nav ul li a {
        border-radius:5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    .content{
        width:100%;
        margin:2% auto;
    }

    .postInfo{
        display:none;
    }

    .topSidebar{
        clear: both;
        width: 90%;
    }
    .middleSidebar{
        clear: both;
        width: 90%;
    }
    .bottomSidebar{
        clear: both;
        width: 90%;
    }
}
